@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap')








*
{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'spartan' , sans-serif;
}


h1
{
font-size:56px;
line-height:64px;
color:#222;
}

h2
{
font-size:46px;
line-height:54px;
color:#222;
}
h4
{
font-size:20px;
color:#222;
}
h6
{
font-size:17px;
font-weight:700;
}
p
{
font-size:16px;
color:#465b52;
margin: 15px 0 20px 0;
}
.section-p1
{
padding: 40px 80px;
}
.section-m1
{
margin:40px 0;
}
body
{
width:100%;
margin:0;
background-color:tan;
}
#header
{
display:flex;
align-items:center;
justify-content:space-between;
padding: 4px 30px;
background: black;
box-shadow: 0 5px 15px rgba(0,0,0,0.06);
Z-INDEX:999;
position:sticky;
top:0;
left:0;
}

#navbar
{
display:flex;
align-items:center;
justify-content:center;

}
#navbar li
{
list-style:none;
padding: 0 12px;
position:relative;

}
#navbar li a 
{
text-decoration:none;
font-size:21px;
font-weight:600;
color:#BE6767;
transition:0 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active
{
color:#A61426;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
content:"";
width:30%;
height:2px;
background:#A61426;
position:absolute;
bottom:-4px;
left:20px;
}

#mobile
{
display: none;
align-items: center;
}
#close
{
display:none;
}


#hero
{
background-color:black;
height:89.4vh;
width:88.12%;
background-size:cover;
background-position:top 25% right 0;
padding: 0 80px;
display: flex;
flex-direction: column;
align-items:flex-start;
justify-content:center;
}

.b1
{
background-image:url("b1.png");
height:89.4vh;
width:100%;
position:absolute;

opacity:0.2;

}

#hero h4
{ 
padding-bottom:15px;
}
#hero h1
{
color:peachpuff;
}
#hero button
{
background-image:url(" ");
background-color:MAROON;
color:peachpuff;
border:0;
padding: 10px 20px 10px 20px;
background-repeat:no-repeat;
cursor:pointer;
font-weight:700;
font-size:20px;
z-index:20;
}
#hero button:hover
{
opacity:0.9;
}



#feature
{
display:flex;
align-items:center;
justify-content:space-between;
flex-wrap:wrap;
}

#feature .fe-box
{ 
width: 180px;
text-align: center;
padding: 5px 10px;
box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03); 
border: 1.5px solid #cce7d0; 
border-radius: 4px;
margin: 1px 0;
background-color:white;
}
#feature .fe-box:hover 
{ 
box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1); 
}
#feature .fe-box h6
{
display:inline-block;
padding:11px 9px 11px 9px;
line-height:1;
border-radius:4px;
color:darkred;
background-color:lightgreen;
}

#feature .fe-box img
{
  width:100%;
  margin-bottom:0px;
}

#feature .fe-box:nth-child(2) h6
{
background-color:skyblue;
}
#feature .fe-box:nth-child(3) h6
{
background-color:pink;
}
#feature .fe-box:nth-child(4) h6
{
background-color:khaki;
}
#feature .fe-box:nth-child(5) h6
{
background-color:rgb(212,170,230);
}

#product1
{
text-align:center;
}

#product1 .pro-container
{
display:flex;
justify-content:space-between;
padding-top:20px;
flex-wrap:wrap;
}

#product1 .pro
{
width:23%;
min-width:250px;
padding:10px 12px;
border:1px solid #cce7d0;
border-radius:25px;
cursor:pointer;
box-shadow:30px 30px 40px rgba(9,9,9,0.06);
margin:15px 0;
transition:0.2s ease;
position:relative;
background-color:white;
}

#product1 .pro:hover
{
box-shadow:20px 20px 30px rgba(0,0,0,0.09);
}
#product1 .pro img
{
width: 100%;
height:160px;
border-radius:20px;
}

#product .pro.des
{
text-align:start;
padding:10px 0;
}

#product .pro .des span
{
color:#606063;
font-size:12px;
}
#product1 .pro .des h5
{
padding-top:7px;
color:#1a1a1a;
font-size:14px;
}
#product1 .pro .des i
{
font-size:12px;
color:rgb(243,181,25);
}
#product1 .pro .des h4
{
padding-top:7px;
font-size:15px;
font-weight:700;
color:#088178;
}

#product1 .pro .cart
{
width:40px;
height:40px;
line-height:40px;
border-radius:50px;
background-color:#BD5555;
font-weight:500;
color:white;
border:1px solid #cce7d0;
position:absolute;
bottom:20px;
right:10px;
}

.ba
{
background-image:url("banner.png");
height:40vh;
width:100%;
position:absolute;
opacity:0.2;
}

#banner
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:left;
background-position:top 70% right 0;
width:100%;
height:40vh;
background-size:cover;
background-color:black;
}


#banner h4
{
color:beige;
font-size:16px;
}
#banner h2
{
color:beige;
font-size:35px;
padding:10px 0;
transform:translateY(-35%);
}

#banner h2 span
{
color:#cc0000;
}
#banner button:hover
{
background:black;
color:beige;
}

.normal
{
font-size:14px;
font-weight:600;
padding:15px 30px;
color:maroon;
background-color:tan;
border-radius:4px;
cursor:pointer;
border:none;
outline:none;
transition:0.2s;
z-index : 10;
transform:translateY(-20%);
}
#banner .normal:hover
{
background:maroon;
color:tan;
} 


.frame
{
margin-bottom:30px;
margin-top:60px;
align-items:center;
margin-left:0px;
}


button.white
{
font-size:15px;
font-weight:600;
padding:11px 18px;
color:goldenrod;
background-color:transparent;
cursor:pointer;
border:1px solid goldenrod;
outline:none;
transition:0.2s;
margin-top:30px;
}




#prodetails
{
display:flex;
margin-top:0px;
}
#prodetails .single-pro-image
{
width:40%;
height:100px;
margin-right:50px;
}
.small-img-group
{
display:flex;
justify-content:space-between;
margin-top:10px;
}
.small-img-col
{
flex-basis:32%;
cursor:pointer;
}
#prodetails .single-pro-details
{
width:50%;
padding-top:20px;
}
#prodetails .single-pro-details h6
{
margin-top:-10px;
}
#prodetails .single-pro-details h4
{
font-size:22px;
padding:10px 0 20px 0;
margin-bottom:5px;
}
#prodetails .single-pro-details h2
{
font-size:26px;
}
#prodetails .single-pro-details input
{
width:50px;
height:47px;
padding-left:10px;
font-size:16px;
margin-left:30px;
}
#prodetails .single-pro-details button
{
background:maroon;
color:beige;
margin-top:10px;
}
#prodetails .single-pro-details span
{
line-height:25px;
}

#ab
{
background-image:url("ab.jpg");
height:1080px;
}

#we h5
{
position:absolute;
margin-top:15px;
margin-left:35px;
font-size:100px;
color:tan;
}
h7
{
position:absolute;
margin-top:13%;
margin-left:35px;
font-size:30px;
color:#F2ECCE;
font-weight:10;
}

h7 span
{
color:#FF6C6C;
font-weight:600;
}


.services
{
position:absolute;
top:100%;
width:100%;
display:flex;
justify-content: space-between;
align-items:center;
margin:65px auto;
text-align:center;
}
#myBtn
{
background-color:MAROON;
color:tan;
border:0;
padding: 10px 0px 10px 20px;
background-repeat:no-repeat;
cursor:pointer;
font-weight:700;
font-size:23px;
margin-top:30%;
margin-left:2.5%;
}
#myBtn:after
{
content: '>>';
opacity: 0; 
transition: 0.5s;
}
#myBtn:hover{
  background-color:tan;
color:maroon;
padding-right:14px;
}

#myBtn:hover:after {
  opacity: 1;
  
}

#form
{
background-image:url("bg.png");
padding-bottom:140px;
padding-top:70px;
padding-left:36%;
}
.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-size: 22px;
  color: tan;
  text-transform: uppercase;
}

.field input {
  display: block;
  min-width: 380px;
  line-height: 1.8;
  font-size: 21px;
  background-color:beige;
}

input[type="submit"] {
  display: block;
  padding: 7px 20px;
  font-size: 19px;
  font-weight:600;
  cursor:pointer;
  background-color: tan;
  color:maroon;
  border: none;
  margin-left:14%;
  margin-top:5%;
  
}
#form h1
{
  margin-top:-10px;  
  color:tan;
  text-decoration:underline;
  margin-bottom:40px;
}

.dir
{
margin-top:-140px;

}


.card
{
width:100%;
display:flex;
justify-content: space-between;
align-items:center;
margin:0px 40px;
flex-direction:column;
padding:50px 50px;
background-color:maroon;
cursor:pointer;
}
.card hr
{
width: 46px;
    height: 3px;
    background-color: tan;
    margin: 0 auto;
    border: none;
    text-align: center;
}
.card:hover
{
background-color:tan;
}
.card:hover h2,
.card:hover p,
.card:hover i
{
  color:maroon;
}
.card:hover hr
{
background-color:maroon;
}
.card .icon
{
color:tan;
font-size:35px;
margin-bottom:10px;
}
.card h2
{
font-size:28px;
color:tan;
margin-bottom:20px;
}
.card p
{
font-size:17px;
margin-bottom:30px;
line-height:1.5;
color:tan;
}
.card:hover i{
    transform: translateY(-20px);
}
.card:hover i,
.card:hover h3,
.card:hover hr{
    transition: all 400ms ease-in-out;
}




.cursor {
  display: inline-block;
  height: 30px;
  width: 30px;
  top: 0;
  position: absolute;
  z-index: 2000;
  width: 35px;
  height: 35px;
  border: 3px solid tan;
  border-radius: 50%;
  box-shadow: 0 0 4px maroon, inset 0 0 4px maroon;
  animation: shine 2s linear 1s infinite;
  
}

@keyframes shine {
  0% {
    box-shadow: 0 0 4px maroon, inset 0 0 4px maroon;
  }
  50% {
    box-shadow: 0 0 12px red, inset 0 0 10px red;
  }
  100% {
    box-shadow: 0 0 4px maroon, inset 0 0 4px maroon;
  }
}

.cursor::after {
  position: absolute;
  top: 7px;
  left: 7px;
  content: " ";
  height: 20px;
  width: 20px;
  background-color: maroon;
  border-radius: 50%;
}


footer
{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
background-color:white;
}



footer .col
{
display:flex;
flex-direction:column;
align-items:flex-start;
margin-bottom:20px;
}

footer.logo
{
margin-bottom:30px;
}

footer h4
{
font-size:14px;
padding-bottom:20px;
}
footer p
{
font-size:13px;
margin:0 0 8px 0;
}
footer a
{
font-size:13px;
text-decoration:none;
color:black;
margin-botton:10px;
}
footer .follow
{
margin-top:20px;
}
footer .follow i
{
color:#465b52;
padding-right:4px;
cursor:pointer;
}
footer .install .row img
{
border:1px solid #088178;
border-radius:6px;
}
footer .install img
{
margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover
{
color:#088178;
}
footer .copyright
{
width:100%;
text-align:center;
}

#cart table
{
width:100%;
border-collapse:collapse;
table-layout:fixed;
white-space:nowrap;
}
#cart table img
{
width:70px;
}
#cart table td:nth-child(1)
{
width:100px;
text-align:center;
}
#cart table td:nth-child(2)
{
width:150px;
text-align:center;
}

#cart table td:nth-child(3)
{
width:250px;
text-align:center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
width:150px;
text-align:center;
}
#cart table td:nth-child(5) input
{
width:70px;
padding: 10px 5px 10px 15px;
}
#cart table thead
{
border:1px solid white;
border-left:none;
border-right:none;
}
#cart table thead td
{
font-weight:700;
text-transform:uppercase;
font-size:13px;
padding:18px 0;
}
#cart table tbody tr td
{
padding-top:15px;
}
#cart table tbody td
{
font-size:13px;
}
#cart-add
{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
}
#coupon
{
width:50%;
margin-bottom:30px;
}
#coupon h3,
#subtotal h3
{
padding-bottom:15px;
}
#coupon input
{
padding:10px 20px;
outline:none;
width:60%;
margin-right:10px;
border:1px solid beige;
}
#coupon button,
#subtotal button
{
background-color:maroon;
color:beige;
padding:12px 20px;
margin-top:20px;
}
#subtotal
{
width:50%;
margin-bottom:30px;
border: 1px solid beige;
padding : 30px;
}
#subtotal table
{
border:collapse;
width:100%;
margin-bottom:20px;
}
#subtotal table td
{
width:50%;
border:1px solid beige;
padding:10px;
}









@media (max-width:799px)
{
.section-p1
{
padding:40px 80px;
}
#navbar
{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-conent:flex-start;
position:fixed;
top:0;
right:-400px;
height:100vh;
width:300px;
background-color:lightgrey;
box-shadow:0 40px 60px rgba(0,0,0,0.1);
padding:80px 0 0 10px;
transition:0.3s;
}
#navbar.active
{
right:0px;
}
#navbar li
{
bottom:100px;
margin-bottom:35px;
}
#mobile
{
display:flex;
align-items:center;
}
#mobile i
{
color:#BE6767;
font-size:24px;
padding-left:20px;

}

#close
{
display:initial;
position:absolute;
top:30px;
left:30px;
color:black;
font-size:24px;
}
#1g-bag
{
display:none;
}
#hero
{
height:90.4vh;
width:79.25%;
}
.b1
{
height:90.4vh;
}
#feature
{
justify-content:center;
justify-content:space-between;
}
#feature.fe-box
{
margin:20px 15px;
}
#product1 .pro-container
{
justify-content:center;
}
#product1 .pro
{
margin:12px;
}

#sm-banner .banner-box
{
min-width:38%;
height:35vh;
}
#banner3
{
padding:0 40px;
}
#banner3 .banner-box
{
width:28%;
}

}




@media (max-width: 460px)
{
.section-p1
{
padding:10px;
}
#header
{ 
padding:10px 30px;
}
h1
{
font-size:38px;
}
h2
{ 
font-size:32px;
}
#hero
{
padding: 0 20px;
}
#hero
{
height:90.4vh;
width:90.88%;
}
.b1
{
height:90.4vh;
}
#feature
{
 display:none; 
}
#feature.fe-box
{
display:none;
}
#product1 .pro-container
{
justify-content:center;
}
#product1 .pro
{
width:100%;
}
#sm-banner. banner-box
{
height:40vh;
min-width: 200px;
}
#sm-banner. banner-box2
{
height:20px;
}
#banner3
{
padding:0 20px;
}
#banner3. banner-box
{
width:28%;
}
footer. copyright
{
text-align:start;
}
}

